body {
	background: linear-gradient(to bottom, rgba(30,144,255,0), rgba(30,144,255,0.9));
	background-size: cover;	
	text-align: center;
}

header {
	background-color: blue
}

span {

	margin-top: 20px;
}
h6 {
	float: left;
}

form {
	
}

 label {
 	float: left;
 }

.login-box {
	max-width: 50%;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	box-sizing: border-box;	
	padding: 70px 30px;
	margin: 80px auto;
	border-radius: 15px;


}


.button-primary {


}

.button-primary:hover {
    opacity: 0.8;
}


.content


